<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PaginaPrincipal</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
	<div class="form-group">
		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<a th:href="@{/UsuarioControlador/}">
				<button class="btn btn-outline-dark" type="button"> Mi cuenta</button>
			</a>

			<a th:href="@{/UsuarioControlador/}">
				<button class="btn btn-outline-dark" type="button">Inicio</button>
			</a>

			<a th:href="@{/PublicControlador/}">
				<button class="btn btn-outline-dark" type="button">Publicar</button>
			</a>

			<a th:href="@{/login}">
				<button class="btn btn-outline-dark" type="button">Ingresar</button>
			</a>
			
			<a th:href="@{/AdministrarPrincipal}">
				<button class="btn btn-outline-dark" type="button">AdministracionPrincipal</button>
			</a>
		</div>
	</div>

</body>
<script src="js/code.jquery.com_jquery-3.7.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</html>